/**
 * Styling for the player page
*/

#output {
    overflow: auto;
    width: 100%;
}

#player {
    width: 100%;
}

#heading-div {
    padding-top: 3%;
}

#header-buttons-div {
    position: absolute;
    top: 10px;
    right: 10px;
}

#output-container {
    width: 90%;
    margin: 0 auto;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.white-text {
    color: #FFFFFF;
}

#flex-item-output {
    flex: 1;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 5%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.top-10px {
    margin-top: 10px;
}

.top-5 {
    margin-top: 5%;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.word {
    color: #FFFFFF;
    font-size: 24px;
}

.word:hover {
    cursor: pointer;
    color: darkgrey;
}

.bookmark {
    color: white;
    font-size: 24px;
}

.bookmark:hover {
    cursor: pointer;
    color: darkgray;
}

.timestamps {
    cursor: pointer;
    color: #FFFFFF;
    padding: 0 0 10px 10px;
}

.timestamps:hover {
    color: grey;
}

.theater {
  width: 90%;
  margin: auto;
}

.theater-toggle {
  margin: auto;
  display: none;
}

.error-placeholder::placeholder {
    color: red;
}

#timestamp-timeline {
    justify-content: center;
}

#timestamp-timeline span, p {
    font-size: 24px;
}

#player-pane {
    flex: 1;
}

/** Styles for the bookmark functionality */
#add-bookmark-button {
    align-self: start;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #974BE0;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-body form {
    display: none;
}


/** Styles dependent on width of screen */
@media screen and (max-width: 1000px) {
    #header-buttons-div {
        position: relative;
        top: 0px;
        right: 0px;
        margin: auto;
        text-align: center;
    }

    #heading-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    #timestamp-timeline span, p {
        font-size: inherit;
    }

    .word {
        font-size: 20px;
    }

    .bookmark {
        font-size: 20px;
    }

    form.entity-search input[type=text] {
        padding: 0px;
    }
}

@media screen and (max-width: 700px) {
    #searchbar-div {
        margin-top: 10%;
    }
}

@media screen and (max-width: 380px) {
    #searchbar-div {
        margin-top: 20%;
    }
}

/** Tabs for different searches */
.btn:focus {
  outline: none;
  box-shadow: none;
}

#tab-container {
    padding-bottom: 3%;
}

.btn:hover {
	color:black;
    background-color: white;
}

.btn-primary {
    background-color: #00000000;
    border-color: white;
}

.active-tab {
  background-color: white;
  color: black;
}


/** Bookmark display styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
}

.remove-bookmark {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    font-size: 24px;
    color: white;
    padding: 0;
    border: none;
    background: none;
}

.remove-bookmark:hover {
    color: #bbb;
}

@media screen and (max-width: 900px) {
    .remove-bookmark {
        font-size: 20px;
    }
}


.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #9900ff;
}

.content pre {
    color: white;
    font-size: 20px;
    text-align: left;
}

