/**
 * Styling for the player page
*/

#output {
    overflow: auto;
    width: 100%;
}

#player {
    width: 100%;
}

#heading-div {
    padding-top: 3%;
}

#header-buttons-div {
    position: absolute;
    top: 10px;
    right: 10px;
}

#output-container {
    width: 90%;
    margin: 0 auto;
}

#resultsHeader {
    padding-bottom: 3%;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.white-text {
    color: #FFFFFF;
}

#flex-item-output {
    flex: 1;
    justify-content: space-between;
    margin: 0 auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.top-10px {
    margin-top: 10px;
}

.top-5 {
    margin-top: 5%;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.word {
    color: #FFFFFF;
    font-size: 24px;
}

.word:hover {
    cursor: pointer;
    color: darkgrey;
}

.timestamps {
    cursor: pointer;
    color: #FFFFFF;
    padding: 0 0 10px 10px;
}

.timestamps:hover {
    color: grey;
}

.theater {
  width: 90%;
  margin: auto;
}

.theater-toggle .fullcapBtn {
  margin: auto;
  display: none;
}

.error-placeholder::placeholder {
    color: red;
}

#timestamp-timeline {
    justify-content: center;
}

#timestamp-timeline span, p {
    font-size: 24px;
}

#player-pane {
    flex: 2;
}

/** Styles dependent on width of screen */
@media screen and (max-width: 1000px) {
    #header-buttons-div {
        position: relative;
        top: 0px;
        right: 0px;
        margin: auto;
        text-align: center;
    }

    #heading-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    #timestamp-timeline span, p {
        font-size: inherit;
    }
    
    #resultsHeader {
        font-size: 30px;
    }

    .word {
        font-size: 20px;
    }

    form.entity-search input[type=text] {
        padding: 0px;
    }
}

@media screen and (max-width: 700px) {
    #searchbar-div {
        margin-top: 10%;
    }
}

@media screen and (max-width: 380px) {
    #searchbar-div {
        margin-top: 20%;
    }
}